project_id = "fyikfsasudgzsjmumdlw"

[functions.webhook-curso-quimica]
verify_jwt = false

[functions.ai-tutor]
verify_jwt = false

[functions.ai-assistant]
verify_jwt = false

[functions.send-report]
verify_jwt = true

[functions.backup-data]
verify_jwt = true

[functions.send-notification-email]
verify_jwt = false

[functions.youtube-api]
verify_jwt = false

[functions.google-calendar]
verify_jwt = true
